[workspace]
members = ["cargo:."]

[dist.github-custom-runners]
global = "ubuntu-latest"
x86_64-pc-windows-msvc = "windows-latest"

# Config for 'dist'
[dist]
# The preferred dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.30.2"
# CI backends to support
ci = "github"
# The installers to generate for each app
installers = ["msi"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["x86_64-pc-windows-msvc"]
allow-dirty = ["ci", "msi"]
